<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Bookstore API Test Suite">

    <!-- Example: Run all tests -->
    <test name="All API Tests">
        <classes>
            <class name="com.bookstore.api.tests.SignupTest"/>
            <class name="com.bookstore.api.tests.BookCrudTest"/>
        </classes>
    </test>
</suite>
